<div class="grid vertical-align-middle align-items-center text-center">
  <div class="col-12 align-items-center">
    <div class="grid vertical-align-middle align-items-center text-center">
      <div class="col-12 flex justify-content-center" >
        <div style="max-width: 450px">
          <p-image src="./assets/img/jesus.png" width="80%" ></p-image>
        </div>
      </div>
    </div>
    <div class="grid vertical-align-middle align-items-center text-center">
      <div class="col-12 align-items-center">
        <span class="text-5xl font-bold">Seja Bem Vindo</span>
        <br>
        <span class="text-4xl font-bold">Jesus Te Ama!</span>
      </div>
    </div>
  </div>
</div>

